@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}

.Home {
  // mobile first < 425px
  padding: 2rem;
  display: block;

  &.--animate {
    transition: none;
  }

  .inner-container {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
  }

  .games {
    display: flex;
    flex-direction: column
  }

  @media (min-width: 425px) {}

  @media (min-width: 768px) {}

  @media (min-width: 1024px) {}

  @media (min-width: 1440px) {}
}
